.acti {
    display: none;

}
.acti-fn {
    display: none;
    padding-left: 80px;
    min-width: 944px;
    height: 60px;
    line-height: 60px;
    background-color: #33a09a;
    color: #fff;
    overflow: hidden;
}
.search {
    float: left;
    margin: 10px 0 0 80px;
    width: 200px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    background-color: #fff;
}
.search-acti {
    margin-left: 20px;
    width: 120px;
    height: 20px;
    border: 0;
    line-height: 20px;
    font-size: 14px;
    color: #686768;
}
.add-acti {
    position: absolute;
    right: 60px;
    top: 0;
    width: 100px;
    height: 40px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    background-color: #33a09a;
    line-height: 40px;
    /*margin-right: 50px;
    float: right;*/
}
.icon-search3 {
    float: right;
    margin-right: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #30b1d7;
    cursor: pointer;
}
.icon-add1 {
    color: #fff;
}
.acti-main {
    min-width: 1024px;
    height: 660px;
    overflow-y: scroll;
}
.activities,
.interview {
    width: 100%;
    height: 60px;
    line-height: 60px;
}
.acti-title,
.fir-inter,
.sec-inter {
    margin-left: 80px;
    float: left;
    width: 560px;
}
.acti-title > a {
    color: #333333;
}
.acti-start,
.acti-modi,
.acti-dele {
    margin-right: 20px;
}
.acti-details {
    position: relative;
    display: none;
}
.acti-details > h2,
.acti-details > h3 {
    text-align: center;
    color: #333333;
}
.interview .add-acti {
    float: none;
    margin: 0;
    padding: 6px 18px;
    border-radius: 4px;
    background-color: #33a09a;
    cursor: pointer;
}