.edit {
    // display: block;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 192, 203, 0.3);
    text-align: center;
    z-index: 10;
}
.icon-close {
    margin: 10px 10px 0 0;
    float: right;
    font-size: 30px;
}
.edit-main,
.test-main,
.add-acco-main,
.add-acti-main,
.add-mess-main {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 400px;
    height: 300px;
    border-radius: 10px;
    background-color: rgba(104, 103, 104, 0.5);
    color: #fff;
    display: none;
}
.add-acti-main {
    height: 560px;
}
.add-mess-main {
    height: 350px;
}
.edit-main {
    display: none;
}
.test-main {
    display: none;
    height: 200px;
}
.add-acco-main {
    display: none;
    height: 280px;
}
.edit-main  p,
.add-acco-main p,
.add-acti-main p,
.add-mess-main p {
    margin: 20px 0;
    font-size: 16px;
}
.edit-main input,
.edit-main select,
.test-phone,
.add-acco-main input,
.add-acco-main select,
.add-acti-main input,
.add-acti-main textarea,
.add-mess-main input {
    padding: 0 8px;
    width: 214px;
    height: 34px;
    line-height: 34px;
    border: 1px solid #fff;
    border-radius: 5px;
    background: transparent;
    font-size: 16px;
    color: #fff;
    outline: none;
}
.add-acti-main textarea {
    line-height: 24px;
    height: 70px;
}
#edit-finish,
#start-test,
#acco-finish,
#confirm-add-acti,
#add-mess-finish {
    width: 90px;
    height: 40px;
    line-height: 40px;
    border: 0;
    border-radius: 5px;
    background-color: #1abc9c;
    color: #fff;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;
}
#start-test {
    margin-top: 26px;
}
